@{
    List<string> images = ViewBag.images;
    string video = ViewBag.video;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp | Download</title>
    <link href="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/css/pagedone.css " rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
</head>
<body class="min-h-dvh max-h-dvh bg-slate-200 flex flex-col justify-start gap-4 p-4">
    <div class="flex flex-row justify-center gap-4">
        <h1 class="text-2xl font-bold">Timestamp</h1>
    </div>
    <div class="w-full relative">
        <div class="swiper centered-slide-carousel swiper-container relative">
            <div class="swiper-wrapper pb-8">
                @if (images!= null && images.Count > 0)
                {
                    foreach (string image in images)
                    {
                        <div class="swiper-slide">
                            <a href="@image" download>
                                <div class="bg-slate-50 rounded-2xl h-96 flex justify-center items-center overflow-hidden">
                                    <img src="@image" class="w-full h-full object-cover">
                                </div>
                            </a>
                        </div>
                    }
                }
                @if (video!= null)
                {
                    <div class="swiper-slide">
                        <div class="bg-slate-50 rounded-2xl h-96 flex justify-center items-center overflow-hidden">
                            <video class="w-full h-full object-cover" controls>
                                <source src="@video" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="flex flex-col justify-start rounded-xl text-slate-800 gap-4">
        <h1 class="text-xl">Your pictures are ready to be downloaded</h1>
        <span class="text-small font-light italic">
            Keep note that your pictures and video will be deleted along this page after 24 hours. Your link will remain the same thorughout its lifetime.
        </span>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/js/pagedone.js"></script>
    <script>
        var swiper = new Swiper(".swiper", {
            centeredSlides: true,
            paginationClickable: true,
            loop: true,
            spaceBetween: 30,
            slideToClickedSlide: true,
            pagination: {
            el: ".centered-slide-carousel .swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                1028: {
                    slidesPerView: 2,
                    spaceBetween: 12
                },
                360: {
                    slidesPerView: 1,
                    spaceBetween: 12
                }
            }
        });
    </script>
</body>
</html>